body {
    background-color: black;
    color: white; 
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-container img {
    width: 25%;
    height: 10%;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.name-container h1 {
    font-size: 50px;
    font-weight: bold;
}

.name-container p, a {
    text-decoration: none;
    font-size: 25px;
}

.linkedin-link {
    color: blue;
}


.github-link {
    color: green;
}


.tableau-link {
    color: red;
}

.info-container {
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 500px){
    .info-container {
        flex-direction: column;
    }
}

.skills-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 30%;
}

.t-skills-container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.languages-container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.t-skills-container h2,
ul {
    margin-top: 10px;
}

.interests-container {
 width: 20%;
}

.about-me-container {
    width: 40%;
}

@media (max-width: 500px){
    .about-me-container {
        width: 100%;
    }
}

.about-me-container h2,
p {
    margin-top: 10px;
}

.project-containers {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.project-header {
    text-align: center;
    font-size: 50px;
}

.displayed-projects-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.highlighted-project-container {
    display: flex;
    flex-direction: column;
}

.highlighted-project-container img {
    width: 75%;
}

.highlighted-project-container a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 5px;
}

.highlighted-project-container p {
    width: 90%;
}

.more-project-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.more-project-container a {
    font-size: 16px;
}

.data-projects-container {
    width: 100%;
}

.square-container {
    display: flex;
    flex-direction: column;
}

.top-container {
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.top-container img {
    width: 70%;
    height: 300px;
}

.bottom-container img {
    width: 70%;
    height: 300px;
}

.top-container a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.bottom-container a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.top-container p {
    width: 90%
}

.bottom-container p {
    width: 90%
}